<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="goBack()">
      <ion-icon name="arrow-back-outline" color="medium"></ion-icon>
    </ion-button>
    <ion-title *ngIf="chat === undefined"> Chat </ion-title>
    <ion-title *ngIf="chat === null"> Not Found </ion-title>
    <ion-title *ngIf="chat"> {{ members }} </ion-title>
    <ion-avatar slot="end" class="avatar">
      <ion-img
        src="https://img.icons8.com/ios-glyphs/50/92949C/user--v1.png"
      ></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat" *ngIf="chat">
    <div
      *ngFor="let message of chat.messages"
      class="message {{ message.sender.id === userId ? 'me' : 'not' }}"
    >
      <p class="sender">
        {{ message.sender.name }}{{ message.sender.id === userId ? ' (Me)' : ''
        }}
      </p>
      <div class="content">
        <div class="corner"></div>
        <p>{{ message.content }}</p>
      </div>
      <p class="time">{{ message.time | date:'MMM d, h:mm a' }}</p>
    </div>
    <div *ngIf="typing" class="typing">
      <ion-avatar class="avatar">
        <ion-img
          src="https://img.icons8.com/ios-glyphs/50/92949C/user--v1.png"
        ></ion-img>
      </ion-avatar>
      <ion-icon class="bubble" name="chatbubble-ellipses-outline"></ion-icon>
    </div>
  </div>
</ion-content>

<ion-footer>
  <form name="messageEditor" (ngSubmit)="submit($event)">
    <ion-button slot="start" fill="clear">
      <ion-icon name="camera-outline" color="medium"></ion-icon>
    </ion-button>
    <input type="text" name="messageEditor" [(ngModel)]="message" />
    <ion-button slot="end" type="submit" fill="clear">
      <ion-icon name="send-outline" color="medium"></ion-icon>
    </ion-button>
  </form>
</ion-footer>
