ion-header {
  ion-toolbar {
    padding: 0 1rem;
  }
}

.avatar {
  padding: 3px;
  border: var(--ion-color-light) solid 2px;
  background-color: var(--ion-color-light-contrast);
  height: 2rem;
  width: 2rem;
}

ion-content {
  --background: var(--ion-color-tertiary);
}

.chat {
  padding: 1rem 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  .message {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0.5rem 1.5rem;
    max-width: 80%;
    * {
      margin: 0;
    }
    .sender {
      color: var(--ion-color-medium);
    }

    .content {
      position: relative;
      margin: 0.3rem 0;

      .corner {
        position: absolute;
        display: block;
        width: 0px;
        height: 0px;
        border: 22px solid black;
        background-color: transparent;

        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;

        top: 0;
        z-index: 0;
      }
      p {
        width: fit-content;
        position: relative;
        padding: 0.5rem 1rem;
        border-radius: 0.75rem;
        color: white;
        z-index: 2;
      }
    }

    .time {
      color: var(--ion-color-medium);
    }
  }

  .message.me {
    align-self: flex-end;
    .sender {
      text-align: right;
    }
    .content {
      align-self: flex-end;
      .corner {
        right: -18px;
        border-top-color: rgb(199, 12, 12);
      }
      p {
        background: linear-gradient(45deg, rgb(45, 15, 129), rgb(207, 11, 11));
      }
    }
    .time {
      text-align: right;
    }
  }

  .message.not {
    .content {
      .corner {
        left: -18px;
        border-top-color: rgb(2, 131, 236);
      }
      p {
        background: linear-gradient(-45deg, rgb(38, 77, 1), rgb(2, 131, 236));
      }
    }
  }

  .typing {
    display: flex;
    height: 3.5rem;
    font-size: 2rem;

    .avatar {
      align-self: flex-end;
      height: 2.5rem;
      width: 2.5rem;
    }

    .bubble {
      align-self: flex-start;
      transform: translateY(0.3rem);
      animation: bobbing 6s infinite ease-in-out;
    }
  }
}

ion-footer {
  background-color: var(--ion-toolbar-background, #fff);
  form {
    background-color: var(--ion-toolbar-background, #fff);
    margin: 0;
    max-height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;

    ion-button {
      font-size: 1.2rem;
      width: fit-content;
      --padding-end: 0.75rem;
      --padding-start: 0.75rem;
      --padding-top: 0.75rem;
      --padding-bottom: 0.75rem;
    }

    input {
      width: 100%;
      line-height: 1.5rem;
      max-height: 100%;
      padding: 0 0.5rem;
      background-color: var(--ion-color-secondary);
      border: var(--ion-color-secondary-shade) solid 2px;
      border-radius: 0.75rem;
      color: var(--ion-color-secondary-contrast);
    }
  }
}

@keyframes bobbing {
  25% {
    transform: translateY(-0.3rem);
  }
  50% {
    transform: translateY(0.3rem);
  }
  75% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0.3rem);
  }
}
