ion-content {
  height: 100%;
  --background: linear-gradient(
    -45deg,
    var(--ion-color-secondary),
    var(--ion-color-tertiary-shade),
    var(--ion-color-secondary),
    var(--ion-color-tertiary-shade)
  );
  color: var(--ion-color-secondary-contrast);
  text-align: center;

  ion-thumbnail {
    height: 80px;
    width: 80px;
    margin: 8vh auto 0 auto;

    ion-img {
      border-radius: 50%;
      padding: 0.3rem;
      background: white;
    }
  }

  h3 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
}

.login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  .forgot-pass {
    text-align: end;
    margin-top: 0.5rem;
    margin-left: -2rem;
    width: 100%;
    color: var(--ion-color-medium-shade);
  }
}

.login-inputs ion-item {
  --background: white;
  margin: 1px 20px;
  width: 90%;
  max-width: 400px;

  ion-icon {
    color: var(--ion-color-medium-shade);
    font-size: 24px;
  }

  ion-input {
    --placeholder-opacity: 1;
  }
}

.login-inputs ion-item:nth-child(2n + 1) {
  border-radius: 0.75rem 0.75rem 0 0;
}

.login-inputs ion-item:nth-child(2n) {
  border-radius: 0 0 0.75rem 0.75rem;
}

.sign-in-methods {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .facebook-login-button {
    margin-top: -0.8rem;
    --background: none;
    ion-icon {
      font-size: 32px;
      opacity: 0.5;
    }
  }

  ion-buttons {
    margin-top: 1rem;

    ion-button {
      --padding-top: 1.2rem;
      --padding-end: 2rem;
      --padding-bottom: 1.2rem;
      --padding-start: 2rem;
      --border-radius: 0.75rem 0 0 0.75rem;
      font-size: 1.2rem;
      margin: 0 0.1rem;
    }

    ion-button:last-child {
      --border-radius: 0 0.75rem 0.75rem 0;
      --padding-top: 1.25rem;
      --padding-bottom: 1.25rem;
    }
  }
}

ion-footer.ion-no-border {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    var(--ion-color-medium-tint),
    var(--ion-color-tertiary-shade)
  );
  min-height: 5vh;
  text-align: center;

  a {
    color: var(--ion-color-light);
    text-shadow: var(--ion-color-medium-shade) 1px 1px 4px;
  }
}
