<div class="mission">
  <section class="header-section">
    <ion-thumbnail class="profile-picture">
      <ion-img src="../../assets/images/logo.png"></ion-img>
    </ion-thumbnail>
    <div class="info">
      <div class="left-side">
        <p class="name">Andreas Skomsøy</p>
        <p class="location">London, England</p>
      </div>
      <div class="right-side">
        <p class="date">25 Nov 2021</p>
        <p class="distance">2MILES</p>
      </div>
    </div>
  </section>
  <section class="image-section">
    <ion-img src="../../assets/images/logo.png"></ion-img>
  </section>
  <section class="description-section">
    <h4 class="title">Lorem Ipsum</h4>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec odio
      condimentum, facilisis ligula vitae, eleifend turpis.
    </p>
  </section>
</div>
