<ion-card class="mission" href="/dashboard/details/{{ mission.id }}">
  <ion-card-header class="header-section">
    <ion-avatar class="profile-picture">
      <ion-img [src]="mission.thumbnail"></ion-img>
    </ion-avatar>
    <div class="info">
      <div class="left-side">
        <p class="name">{{ mission.name }}</p>
        <p class="location">{{ mission.location }}</p>
      </div>
      <div class="right-side">
        <p class="date">{{ mission.date | date }}</p>
        <p class="distance">{{ mission.distance }}</p>
      </div>
    </div>
  </ion-card-header>

  <section class="image-section">
    <ion-img [src]="mission.picture"></ion-img>
  </section>

  <ion-card-content class="content">
    <ion-text class="description-section">
      <ion-card-title class="title">{{
        mission.description.title
      }}</ion-card-title>
      <p class="description">{{ mission.description.intro }}</p>
    </ion-text>
  </ion-card-content>
</ion-card>
