<ion-header>
  <ion-toolbar>
    <ion-button slot="start" routerLink="/dashboard/missions" fill="clear">
      <ion-icon name="arrow-back-outline" color="medium"></ion-icon>
    </ion-button>
    <ion-title>Mission Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="mission" class="details">
    <div class="employer-profile">
      <div class="profile-header">
        <ion-avatar>
          <ion-img [src]="mission.thumbnail"></ion-img>
        </ion-avatar>
        <div class="basic-info">
          <h5 class="name">{{ mission.name }}</h5>
          <p class="company">{{ mission.company }}</p>
          <p class="location">{{ mission.location }}</p>
        </div>
      </div>
      <div class="rating">
        <div class="stars">
          <ion-icon
            *ngFor="let star of mission.rating.filled"
            name="star"
            color="warning"
          ></ion-icon>
          <ion-icon
            *ngFor="let star of mission.rating.halfFilled"
            name="star-half"
            color="warning"
          ></ion-icon>
          <ion-icon
            *ngFor="let star of mission.rating.empty"
            name="star-outline"
            color="warning"
          ></ion-icon>
        </div>
        <h1 class="decimal">{{ mission.rating.decimal }}/5</h1>
      </div>
    </div>
    <div class="main-content">
      <ion-img [src]="mission.picture"></ion-img>
      <div class="description">
        <h1 class="title">{{ mission.description.title }}</h1>
        <p class="intro">
          <strong>Mission Summary: </strong
          ><em>{{ mission.description.intro }}</em>
        </p>

        <p class="description-details">
          <strong>Details: </strong>
          {{ mission.description.details }}
        </p>

        <p class="deadline">
          <strong>Deadline: </strong>
          {{ mission.description.deadline | date }}
        </p>
        <p *ngIf="mission && mission.distance">
          <strong>Distance:</strong> {{ mission.distance }} Miles
        </p>
      </div>
    </div>
    <div class="action-buttons">
      <ion-button class="accept-button" fill="solid">Accept Mission</ion-button>
      <ion-button class="reject-button" fill="outline"
        >Reject Mission</ion-button
      >
    </div>
  </div>
  <div *ngIf="mission === null" class="not-found">
    <ion-img
      src="https://img.icons8.com/pastel-glyph/128/92949C/page-not-found--v2.png"
    ></ion-img>
    <h1>Not Found</h1>
  </div>
  <div *ngIf="mission === undefined" class="loading">
    <ion-spinner></ion-spinner>
    <p>Loading content</p>
  </div>
</ion-content>
