.details {
  display: flex;
  flex-direction: column;
  align-items: center;

  .employer-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    margin: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    justify-content: space-between;
    width: calc(100% - 1rem);

    .profile-header {
      display: flex;

      ion-avatar {
        height: 64px;
        width: 64px;
        background-color: var(--ion-color-primary-contrast);
        border: var(--ion-color-secondary) solid 1px;
      }

      .basic-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1rem 0 0.5rem;
        .name,
        .company,
        .location {
          margin: 0;
        }

        .company,
        .location {
          color: var(--ion-color-medium);
        }
      }
    }

    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      margin: 0.5rem 0 0 0;

      .stars {
        display: flex;
        align-items: center;
      }

      .decimal {
        font-size: 1.4rem;
        margin: 0 0 -0.2rem 0.5rem;
      }
    }
  }

  .main-content {
    .description {
      margin: 0 0.5rem;
      font-size: 1.2rem;

      .title {
        font-size: 2.2rem;
        font-weight: 900;
      }
    }
  }

  .action-buttons {
    margin: 1rem 0;

    .accept-button {
      --border-radius: 0.75rem 0 0 0.75rem;
    }
    .reject-button {
      --border-radius: 0 0.75rem 0.75rem 0;
    }
  }
}

.not-found {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-img {
    width: 128px;
    height: 128px;
  }

  h1 {
    color: var(--ion-color-medium);
    font-size: 2.5rem;
    font-weight: 900;
  }
}

@media only screen and (min-width: 500px) {
  .details {
    .employer-profile {
      width: fit-content;
      flex-direction: row;
    }
  }
}
