.details {
  .employer-profile {
    display: flex;
    flex-direction: column;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.75rem;
    justify-content: space-between;
    width: calc(100% - 2rem);

    .profile-header {
      display: flex;

      ion-avatar {
        height: 64px;
        width: 64px;
        background-color: var(--ion-color-primary-contrast);
        border: var(--ion-color-secondary) solid 1px;
      }

      .basic-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1rem 0 0.5rem;
        .name,
        .company,
        .location {
          margin: 0;
        }

        .company,
        .location {
          color: var(--ion-color-medium);
        }
      }
    }

    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      margin: auto 0;

      .stars {
        display: flex;
        align-items: center;
      }

      .decimal {
        font-size: 2rem;
        margin: 0 0 -0.2rem 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .employer-profile {
    flex-direction: row;
  }
}
