/* Header styling */
ion-toolbar {
  --border-style: none;
  --background: var(--ion-toolbar-background, var(--ion-color-step-150, #fff));
}

.header-toolbar {
  ion-img {
    height: 44px;
  }

  .options-icon {
    transform: rotate(90deg);
    font-size: 32px;
  }
}

/* Tab and content styling */
ion-content {
  --background: var(--ion-color-tertiary);
}

.tab-bar {
  height: 2rem;
  padding: 0.3rem 1rem;

  ion-tab-button {
    --color-selected: var(--ion-color-primary);
  }

  ion-tab-button[aria-selected] {
    --background: var(--ion-color-primary);
    opacity: 0.7;
    --ripple-color: var(--ion-color-primary-contrast);
    border-radius: 0.75rem;

    ion-icon {
      color: var(--ion-color-primary-contrast);
    }
  }
}

/* Side Menu styling */
.side-menu {
  --background: var(--ion-color-tertiary);
}

.side-menu::part(backdrop) {
  background: none;
}

.side-menu ion-avatar {
  margin: 10vh auto;

  ion-img {
    height: 12vh;
    width: 12vh;
    margin-left: -6vw; // Minus 50% of width to center
  }
}

.side-menu ion-list {
  margin-left: 20%;
  background: var(--ion-color-tertiary);

  ion-item {
    margin: 0 0 3vh 0;

    ion-label {
      color: var(--ion-color-primary);
    }
  }
}

ion-footer {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
