.chat-preview {
  padding: 0.5rem 1rem;
  width: 100%;
  border-bottom: var(--ion-color-medium) solid 2px;

  .name {
    margin: 0;
    font-weight: 600;
  }

  .bottom {
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--ion-color-medium);

    .message {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    .time {
      min-width: 4rem;
      margin-left: 0.5rem;
      text-align: right;
      p {
        margin: 0;
      }
    }
  }
}

.chat-preview:hover {
  background-color: var(--ion-color-secondary);
}
